/** styles **/

html {
    padding: 0px!important;
}
body {
    font-family: 'Montserrat', sans-serif !important;
    width: 360px;
    height: 600px;
    padding: 0px;
    margin: 0px;
}

.bg {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*background-image: linear-gradient( rgba(0,0,0,.2), rgba(0,0,0,.2) ), url(assets/bg2.png);*/
}


.background-wave .wave{
  width: 1400px;
  height: 1400px;
}

.background-wave {
    width: 100%;
    z-index: 0;
}


.background-wave .wave {
    width: 1000px;
    height: 1000px;
    background-color: #ffffff94;
    opacity: 0.85;
    position: absolute;
    top: 16%;
    left: 15%;
}
/*** Extension Icon ***/

.chrome-extension-icon {
    position: fixed;
    top: 20px;
    right: 25px;
    background-color: #8b32cf;
    height: 40px;
    width: 40px;
    border-radius: 505%;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 0 rgb(138, 50, 208);
    animation: pulse 2s infinite;
}

.chrome-extension-icon img {
    width: 92%!important;
    margin-top: 11px;
    margin: auto;
    left: 4%!important;
    top: 3px!important;
}



.chrome-extension-icon:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(138, 50, 208, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(138, 50, 208 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(138, 50, 208, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(138, 50, 208, 0.4);
    box-shadow: 0 0 0 0 rgba(138, 50, 208, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(138, 50, 208, 0);
      box-shadow: 0 0 0 10px rgba(138, 50, 208, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(138, 50, 208, 0);
      box-shadow: 0 0 0 0 rgba(138, 50, 208, 0);
  }
}

/** Extension **/

.slider {
    width: 360px;
    right: 20px;
    top: 20px;
    position: absolute!important;
}
.slick-arrow {
  display: none!important;
}

.visible {
  transition: 3s;
  display: block!important;
}


.slick-slider {
    border-radius: 6px;
    background-color: #fff;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0!important;
    border-radius: 4px!important;
    padding: 0!important;
    box-shadow: 0px 12px 45px -1px rgba(0, 0, 0, 0.12)!important;
}
.chrome-extension-container {
    width: 360px;
    position: relative;
    overflow: hidden;
    max-width: 360px;
    height: 720px;
    margin: auto;
}

/*** Title ***/

.title {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    font-weight: 600;
    z-index: 1;
    line-height: 150px;
    text-align: center;
    transform: translate3d(0, 0, 0);
    color: white;
    letter-spacing: .05em;
    font-size: 31px;
    text-shadow: 0 1px 0 rgba(black, .1);
    text-indent: .3em;
}


/*** Imagery ***/

.imagery-container {
    position: absolute;
    width: 100%;
}

.tutorial .imagery-container {
  margin-top: 190px;
}

.imagery-container img {
    z-index: 111111;
    width: 160px;
    position: relative;
    display: block;
    margin: auto;
}


img.floating-logos {
  position: absolute;
  width: 30px;
  opacity: 0.3
}

img.float-0 {
  animation: float 5s ease-in-out infinite;
}

img.float-1 {
    left: 60px;
    top: -20px;
    animation: float 10s ease-in-out infinite;
}

img.float-2 {
    left: 218px;
    top: 3px;
    animation: float 4s ease-in-out infinite;
}

img.float-3 {
  left: 53px;
    top: 140px;
    width: 18px;
    animation: float 3s ease-in-out infinite;
}

img.float-4 {
    left: 150px;
    top: 185px;
    opacity: 0.4;
    animation: float 10s ease-in-out infinite;
}

img.float-5 {
    left: 243px;
    top: 130px;
    opacity: 0.4;
    animation: float 10s ease-in-out infinite;
}


@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}


@keyframes motion {
  0% {
    transform: translatey(0px);
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    transform: translatey(60px);
    opacity: 0;
  }
}

.floating-logos {
  transform: translatey(0px);
}


.motion {
    width: 10px;
    height: 50px;
    background-color: #ffffff2e;
    border-radius: 10px;
    margin: auto;
    position: absolute;
}

.m-1 {
  left: 187px;
    top: 80px;
    animation: motion 5s infinite;
}

.m-2 {
  left: 147px;
    top: 100px;
    animation: motion 4s infinite;

}

.m-3 {
  left: 110px;
    top: 80px;
    animation: motion 6s infinite;

}

/*** Description ***/

.description {
  color: #c2cdd3;
    font-weight: 400;
    position: absolute;
    padding: 30px;
    left: 0;
    bottom: 50px;
    text-align: center;
    z-index: 1;
    line-height: 25px;
    text-align: center;
    transform: translate3d(0, 0, 0);
    letter-spacing: .05em;
    font-size: 15px;
    text-rendering: optimizeLegibility;

}


/*** Pagination ***/
.pagination {
  position: absolute;
  bottom: 0px;
  height: 40px;
  width: 100%;
}

.slick-dots   {
/*  display: none!important;
*/}

.steps-container {
  margin: auto;
  width: 80px;
}

.step-container {
  width: 33.3%;
  float: left;
}

.step {
  width: 10px;
  height: 10px;
  background-color: #c2cdd3;
  border-radius: 50%;
  margin: auto;
}

.active-step {
    background-color: #06acff!important;
}

.purple-step {
  background-color: #80f;
}

.green-step {
  background-color: #27d333;
}

.skip-tutorial {
  position: absolute;
  left: 25px;
  bottom: 25px;
  color: #ddd;
}

/*** Scrollbar ***/
.simplebar-scrollbar {
    opacity: 0.05!important;
}

.simplebar-scroll-content {
  padding-right: 0px!important;

}

/*.simplebar-content {
    padding-right: 0px!important;
    padding-left: 0px!important;
}*/


/*** Wave design ***/

.box {
  width: 300px;
  height: 300px;
  border-radius: 5px;
  box-shadow: 0 2px 30px rgba(black, .2);
  background: lighten(#f0f4c3, 10%);
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.wave {
  opacity: 0.85;
  position: absolute;
  top: 13%;
  left: 50%;
  background: #0af;
  width: 500px;
  height: 500px;
  margin-left: -250px;
  margin-top: -120px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 30000ms infinite linear;
}

.tutorial .wave {
    opacity: 0.85;
    position: absolute;
    top: 48%;
    left: 50%;
    background: #0af;
    width: 600px;
    height: 608px;
    margin-left: -300px;
    margin-top: -120px;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 30000ms infinite linear;
}


.purple-wave {
  background: #80f;
}

.green-wave {
  background-color: #27d333;
  margin-top: -446px!important;
}


.wave.-one {
    margin-top: -446px!important;
}

.wave.-two {
  animation: drift 14000ms infinite linear!important;
  opacity: .1;
  margin-top: -434px!important;
}

.wave.-three {
  animation: drift 10000ms infinite linear!important;
    margin-top: -438px!important;
}






.box:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(#e8a, 1), rgba(#def, 0) 80%, rgba(white, .5));
  z-index: 11;
  transform: translate3d(0, 0, 0);
}


@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}



