doctype html

html
  head
    meta(charset='UTF-8')
    title MetaMask
    style.
      body { width: 500px; }

    link(rel='stylesheet', href='/styles/style.css')
    link(rel='stylesheet', href='/styles/account.css')
    link(rel='stylesheet', href='/styles/waves.css')
    link(rel='stylesheet', href='/styles/send.css')
    link(rel='stylesheet', href='/styles/transaction.css')
    link(rel='stylesheet', href='/styles/login.css')
    link(rel='stylesheet', href='/styles/seed-generation.css')
    link(rel='stylesheet', href='/styles/receipt.css')
    link(rel='stylesheet', href='/styles/midnight-theme.css')
    link(rel='stylesheet', href='/styles/sparkline.css')
    link(rel='stylesheet', href='/styles/simplebar.css')
    link(rel='stylesheet', href='/styles/fontawesome-all.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css')
  
  body
    #root
    if env !== 'prod'
      script(src='chrome-extension://lmhkpmbekcpmknklioeibfkpmmfibljd/js/redux-devtools-extension.js')
    script(src=env == 'prod' ? '/js/todoapp.bundle.js' : 'http://localhost:3000/js/todoapp.bundle.js')
    script(src='js/simplebar.js')
