.wave.-two {
    animation: drift 14000ms infinite linear!important;
    opacity: .1;
    margin-top: -414px!important;
}

.account-wallet .imagery-container {
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 111;
}

img.nav-icon {
    width: 55px;
    position: absolute;
    top: 2px;
    left: 0px;
}

/*** BALANCE ***/
.balance-section {
    height: 50px;
    margin-top: 25px;
    text-align: center;
    font-weight: 500;
    font-size: 19px;
    z-index: 111111111;
    position: relative;
    margin-bottom: 100px;
}

.balance-section span {
    font-size: 13px;
    color: #ffffffa1;
}

.eth-balance {
    color: #ffffff6e;
    font-size: 14px;
    font-weight: 400;
}

.balance {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    position: relative;
    z-index: 111111111;
}
.wallet-address-container {
    margin: auto;
    width: 236px;
    background-color: #f9fbfd;
    overflow: auto;
    padding: 4px 10px;
    border-radius: 13px;
    margin-top: 35px;
}

.wallet-address {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 207px;
    margin: auto;
    font-size: 11px;
    border-radius: 11px;
    color: #939ea0;
    float: left;
}

.wallet-address-container i.far.fa-copy {
    color: #10adff!important;
    font-size: 14px;
    margin-left: 10px;
    float: left;
    margin-top: 2px!important;
}


span.percent-up {
    background-color: #0000001f;
    color: #fff!important;
    position: absolute;
    font-size: 11px;
    padding: 2px 10px;
    left: calc(50% - 30px);
    border-radius: 17px;
}

/** TABS **/
.tabs {
    overflow: auto;
    margin-top: 15px;
}

.tabs div {
    cursor: pointer;
    width: calc(50% - 14px);
    padding: 10px;
    text-align: center;
    float: left;
    font-size: 14px;
    padding: 15px 7px;
    margin: 0px;
    color: #10adff;
    border-top: 0px;
    border-bottom: 2px solid #5bc8ff;
    font-weight: 500;
}

.unselected-right {
    background-color: #fff!important;
    border-bottom: 2px solid #d9e3e857!important;
    color: #c4ccd2!important;
}

/*** TOKEN LIST ***/

.token-list ul {
    padding: 0px;
    overflow: scroll;
    margin: 0px;
    height: 290px;
}


.eql-logo {
    border-radius: 50%;
    background-color:#0af; 
    padding: 2px 2px 1px;
}

.token-list ul li {
    width: calc(100% - 30px);
    list-style: none;
    border-bottom: 0px solid #fafafa;
    padding: 15px;
    height: 34px;
    margin: auto;
    margin-top: 0px;
    background-color: #ffffff;
    border-radius: 1px;
}
.token-list .simplebar-content{
    padding-bottom: 0px !important;
    
}

.token-info {
    width: 90px;
    float: left;
    margin-left: 15px;
}

.token-list ul li button {
    background: #f9fbfd;
    border: 0px;
    padding: 6px 8px;
    color: #d8e3e9!important;
    float: right;
    margin-top: 1px;
    border: 0px;
    font-size: 16px;
    border-radius: 4px;
}

.image-container {
    width: 30px;
    height: 30px;
    float: left;
}

.token-list ul li img {
    width: 100%;
    float: left;
    max-height: 33px;
}


.token-list ul li:hover {
    background-color: #f4f9fb9e;
    cursor: pointer;
}

.token-list ul li:hover button {
    cursor: pointer;
    color: #d8e3e9!important;
}


i.fas.fa-ellipsis-v {
    right: 15px;
    top: 15px;
    position: absolute;
    color: #fff;
    font-size: 23px;
}

.token-name {
    width: 100%;
    font-weight: 600;
    font-size: 14px;
    color: #505557!important;
    margin-top: 1px;
}


.token-amount {
    font-size: 13px;
    color: #7d878d;
}

.transfer-date{
    font-size: 12px;
    color: #7d878d;
    margin-top: 4px;
}

.change-container {
    float: left;
    width: 119px;
    position: relative;
    overflow: auto;
    font-size: 14px;
    padding: 0px 10px;
    text-align: center;
}

.currency-value {
    font-weight: 400;
    color: #7e888e;   
}

.fas.fa-arrow-down {
    margin-left: 5px;
    font-size: 11px;
    color: rgb(232, 32, 112);
}

.fas.fa-arrow-up {
    margin-left: 5px;
    font-size: 11px;
    color: #2fd842;
}

.neg-change {
    color:rgb(232, 32, 112)!important;
}
.change {
    font-size: 13px;
    border-radius: 17px;
    color: #30d843;
    display: block;
}
.fas.fa-arrow-up {
    margin-right: 5px;
    font-size: 11px;
}


.add-custom-token {
    background-color: #322f34;
    color: #fff;
    bottom: 0px;
    width: 300px;
    text-align: center;
    padding: 15px 0px;
    margin: auto;
    margin-left: 0px;
    border-radius: 3px;
    font-size: 13px;
    margin: 0px;
}


/** Navigation Footer **/

.footer-navigation {
    height: 45px;
    position: absolute;
    width: 360px;
    bottom: 0px;
    background-color: #fff;
    left: 0px;
    box-shadow: 0px 0px 50px 1px rgb(234, 242, 246);
}
.footer-navigation > div {
    width: 33.3333%;
    float: left;
    text-align: center;
    padding: 0px;
    margin-bottom: 0px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-navigation > div a {
    padding: 5px;
    color: #d8e3e8;
    overflow: auto;
    display: block;
}

.footer-active-nav a {
    color: #04aaff!important;
}

 .footer-navigation a i {
    padding: 18px 0px;
    font-size: 21px;
}

.cls-1 {
    stroke: #d8e3e9!important;
}

.cls-2 {
    fill: #d8e3e9!important;
}

.footer-active-nav .cls-1 {
    stroke: #06acff!important;
}

.footer-active-nav .cls-2 {
    fill: #06acff!important;
}
.cls-1{fill:#fff0;stroke:#fff;stroke-miterlimit:10;stroke-width:21px;stroke-miterlimit: 50;stroke-width: 40px;}.cls-2{fill:#fff;}

