.app-title {
    font-weight: 700;
    font-size: 45px;
}

.login-info {
    color: #a4a8ab;
    font-weight: 400;
    position: absolute;
    bottom: 0px;
    left: 0;
    margin: 20px 30px;
    width: calc(100% - 60px)!important;
    text-align: center;
    padding: 0px!important;
    z-index: 1;
    line-height: 25px;
    text-align: center;
    transform: translate3d(0, 0, 0);
    letter-spacing: .05em;
    font-size: 15px;
    text-rendering: optimizeLegibility;
}

.login-info .general-btn {
    padding: 10px;
    width: 81%;
    background-color: #29b7ff;
    border: 0px solid #06acff;
    border-radius: 3px;
    color: #fff;
    overflow: hidden;
    font-size: 14px;
    text-align: center;
    position: relative;
    height: 20px;
    left: 0px;
    width: calc(100% - 20px);
    right: 0px;
    margin-bottom: 10px;
}

.login-info a {
    color: rgb(117, 210, 255);
    font-weight: 500;
    font-size: 12px;
    text-decoration: underline;
}

.login-info .password-text{
    margin-bottom: 30px;
}

.powered-by {
    font-size: 10px;
    line-height: 1.6;
    letter-spacing: 2px;
    opacity: 0.6;
    margin-top: -48px;
}
