
.midnight-theme .slick-list {
  box-shadow: 0px 4px 11px 2px rgba(0, 0, 0, 0.25)!important
}

.midnight-theme .skip-tutorial {
    color: #8c8695!important;
}

.midnight-theme .token-list ul li button {
    background-color: #423b4b!important;
    border: 0px;
    color: #ffffff4f!important;
}

.midnight-theme .token-list ul li {
    border-bottom: 0px;
}

.midnight-theme .slick-slider {
    background-color: #3d3746;
}
.midnight-theme .tabs div {
    border-top: 1px solid #3e3747!important;
    color: #fff;
    border-bottom: 2px solid #9940f9;
}

.midnight-theme .wave {
    background: #80f!important;
    opacity: 0.5!important;
}

.midnight-theme .wave.-one {
    animation: drift 10000ms infinite linear!important;
    background: #e65fff!important;
    margin-top: -496px!important;
}


.midnight-theme .wave.-two {
    animation: drift 14000ms infinite linear!important;
    opacity: .1;
    margin-top: -484px!important;
}

.midnight-theme .wave.-three {
    animation: drift 10000ms infinite linear!important;
    margin-top: -488px!important;
}

.midnight-theme .token-name {
    color: #fff!important;
}

.midnight-theme .unselected-right {
    background-color: #3e3747!important;
    color: #ffffffad!important;
    border-bottom: 2px solid #dddddd26!important;
}
.midnight-theme .dark-dots {
    display: none!important;
}
.midnight-theme .wallet-address {
    color: #989c9d!important;
}

.midnight-theme .wallet-address-container {
    background-color: #ffffff08;
}
.midnight-theme i.far.fa-copy {
    color: #c48eff!important;
}

.midnight-theme .step {
    background-color: #dddddd26!important;
}

.midnight-theme .active-step {
    background-color: #8b21e8!important;
}


.midnight-theme .cls-1 {
    stroke: #ffffff36!important;
}


.midnight-theme .cls-2 {
    fill: #ffffff36!important;
}

.midnight-theme .footer-active-nav .cls-1 {
    stroke: #ffffff!important;
}

.midnight-theme .footer-active-nav .cls-2 {
    fill: #ffffff!important;
}

.midnight-theme .token-list ul li {
    background-color: #3e3747;
}

.midnight-theme .token-list ul li:hover {
    background-color: #423b4b;
    cursor: pointer;
}

.midnight-theme .token-list ul li button:hover {
    cursor: pointer;
    background: linear-gradient(to right, #7c2bd0 , #7918ea)!important;
}


.midnight-theme .eql-logo {
    border-radius: 50%;
    background-color: #8b17ea!important;
    padding: 2px 2px 1px;
}

.midnight-theme .balance-eql {
    width: 129px!important;
}

.midnight-theme .balance-eql img {
    margin-top: -3px!important;
    width: 25px!important;
}


.midnight-theme .currency-value {
    font-weight: 300;
    color: #ffffff;
}

.midnight-theme .footer-navigation {
    height: 60px;
    border-top: 0px;
    position: absolute;
    background-color: #3e3747;
    width: 360px;
    bottom: 0px;
    box-shadow: 0px 0px 50px 1px rgba(42, 40, 45, 0.51);
}

.midnight-theme .footer-active-nav a i {
    color: #fff!important;
}

.midnight-theme .footer-active-nav a {
    color: #929292!important;
}

.midnight-theme .footer-navigation > div a {
    padding: 37px 35px;
    color: #ffffff36;
}



/*** Slider ***/
.simplebar-scrollbar {
    position: absolute;
    right: 2px;
    border-radius: 7px;
    min-height: 10px;
    width: 7px;
    opacity: 0;
    -webkit-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
    background: #0000008c;
    background-clip: padding-box;
}

/*** Transactions ***/

.midnight-theme .triangle:before{
    position: absolute;
    background: #634a3a!important;
    pointer-events: auto;
    content: '';
}

.midnight-theme .symbol {
    color: #ffffff3d!important;
}

.midnight-theme .triangle:after{
    position: absolute;
    background: #634a3a!important;
    pointer-events: auto;
    content: '';
}



/*** Send Page ***/
.midnight-theme .tx-speed-container {
    color: #c2cdd3!important;
}

.midnight-theme .mdl-slider__background-lower {
    background: rgb(178, 85, 255)!important;
}

.midnight-theme .mdl-slider__background-upper  {
    background: rgba(0, 0, 0, 0.13)!important;
}

.midnight-theme .general-btn {
    background-color: #8b18ea!important;
}

.midnight-theme .general-btn:hover {
    background-color: #9121ef!important;
}

.midnight-theme .cancel-btn {
    background-color: #ffffff0d!important;
}

.midnight-theme .cancel-btn .wave {
    background-color: #0000002b!important;
}

.midnight-theme .fee-summary {
    color: rgba(255, 255, 255, 0.4)!important;
    border-top: 1px dashed #e0e0e02e!important;
}

.midnight-theme .mdl-textfield__input {
    border-bottom: 2px solid #dddddd26!important;
}

.midnight-theme .mdl-textfield__label {
    color: #ffffffb3!important!important;
}

.midnight-theme .transaction-warning {
    color: rgba(255,255,255,.4)!important;
}
.midnight-theme .max-fee {
    color: #fff!important;
}

.midnight-theme .fee-eth {
    color: #ac44ff!important;
}

.midnight-theme .usd-fee {
    color: #fff!important;
}

.midnight-theme .mdl-slider:active::-webkit-slider-thumb {
        background: #ac44ff!important;
}

.midnight-theme .mdl-slider::-webkit-slider-thumb {
        background: #ac44ff!important;
        border-color: #ac44ff!important;
}

.midnight-theme .mdl-textfield--floating-label.is-focused .mdl-textfield__label, .mdl-textfield--floating-label.is-dirty .mdl-textfield__label, .mdl-textfield--floating-label.has-placeholder .mdl-textfield__label {
    color: #bb67ff!important;
}

.midnight-theme .mdl-textfield__label:after {
    background-color: #bb67ff!important;
}

.midnight-theme .max-balance-btn {
    background-color: #ffffff12!important;
    color: #afb8bf!important;
}


.midnight-theme .max-balance-btn:hover {
    background-color: #ffffff29!important;
    color: #fff!important;
    cursor: pointer;
}

.midnight-theme .mdl-textfield__input {
    font-weight: 300!important;
    color: #fff;
}
.midnight-theme .fa-fire {
    color: #d097ff;
}


/*** Login **/
.midnight-theme .login-info a {
    color: rgba(255, 255, 255, 0.4);
    font-weight: 500;
    font-size: 12px;
    text-decoration: underline;
}







/*** Receipt Screen **/
.midnight-theme .receipt-amount {
    color: #ffffff;
}
.midnight-theme .receipt-info > div {width: 50%; float: left;}
.midnight-theme .receipt-info span {
    font-size: 11px;
    color: rgba(255,255,255,.4)!important;
}

.midnight-theme .receipt-info {
    padding: 25px 0px!important;
    border-bottom: 1px dashed #e0e0e02e!important;
    color: #ffffff!important;
    overflow: auto;
}


.midnight-theme .receipt-screen .wave.-one {
    animation: drift 10000ms infinite linear!important;
    background: #34b3a7!important;
    margin-top: -446px!important;
}

.midnight-theme .receipt-screen .wave {
    background: #21dd2a!important;
    opacity: 0.5!important;
}

.midnight-theme .confirm-btn {
    background-color: #4caf50!important;
}


.midnight-theme .receipt-screen .cancel-btn {
    opacity: 0.6!important;
    background: #c2cdd33d!important;
    color: #dfe6ea!important;
}



/*** Seed Generation / Account Screen **/


.midnight-theme .seed-generation-container {
    padding-bottom: 55px;
    border-bottom: 1px dashed #e0e0e02e!important;
}

.midnight-theme .seed-generation {
    padding: 15px;
    border: 2px solid #58535f!important;
    border-radius: 6px;
    background-color: #58535f73;
    color: #c2cdd3;
}

.midnight-theme .download-seed .wave {
    background-color: #ffffff08!important;
}
.midnight-theme .seed-container .download-seed {
    margin-bottom: 0px!important;
    background-color: #f1f5f7!important;
    margin-top: 25px;
    background: #c2cdd314!important;
    color: #c1ccd2!important;
}

.midnight-theme .seed-container .download-seed .fas {
    color: #bcc6cc;
}
