
/*** receipt page ***/
.receipt-container {
    padding: 0px 25px;
}

.receipt-amount {
    text-align: center;
    margin: 5px;
    color: #787d7e;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
}


.receipt-amount span {
    text-align: center;
    margin: 0px;
    color: #28c540;
    font-weight: 300;
}

.receipt-screen .balance-eth {
    font-size: 14px!important;
}

.receipt-confirm {
    padding: 25px 0px;
    overflow: auto;
    position: relative;
    width: 100%;
}

.receipt-info {
    padding: 15px 0px!important;
    border-bottom: 1px dashed #e0e0e0!important;
    color:#505557!important;
    overflow:auto;
}

.receipt-info > div {width: 50%; float: left;}
.receipt-info span {
    font-size: 11px;
/*    color: rgba(255,255,255,.4)!important;

*/
    color: rgb(195, 206, 212)!important;
}

.receipt-info div:nth-child(1) {
    font-size: 16px;
}

.receipt-fee-info div:nth-child(1){
    margin-top: 10px;
}

.receipt-info div:nth-child(1) {
    font-weight: 500;
}

.receipt-confirm .general-btn {
    padding: 10px!important;
    width: calc(50% - 25px)!important;
    float: left!important;
    position: relative!important;
    margin: 0px!important;
    background: #36c557!important;
    height: 17px;
}

.general-btn.confirm-btn {
    margin-left: 10px!important;
}

.receipt-screen .transaction-warning {
    font-size: 11px;
    text-align: center;
    display: block;
    margin-top: 55px!important;
    color: #c2cdd3;
}

.receipt-screen .balance-section {
    height: 50px;
    margin-top: 50px;
    text-align: center;
    font-weight: 500;
    font-size: 19px;
    z-index: 111111111;
    position: relative;
    margin-bottom: 60px;
}

.receipt-screen .wave.-one {
    animation: drift 10000ms infinite linear!important;
    background: #42d463!important;
    margin-top: -480px!important;
}

.receipt-screen .general-btn .wave {
    opacity: 0.6!important;
    background: #42d463!important;
}

.receipt-screen .cancel-btn {
    opacity: 0.6!important;
    background: #c2cdd33d!important;
    color: #889196!important;
}

.receipt-screen .wave {
    background: #3ed856!important;
}