.seed-container {
    position: relative;
    height: 500px;
    padding: 25px;
}

.seed-backup-screen .balance-section {
	height: 50px;
    margin-top: 30px;
    text-align: center;
    font-weight: 500;
    font-size: 19px;
    z-index: 111111111;
    position: relative;
    margin-bottom: 60px;
}

.seed-backup-screen .balance-eth {
    font-size: 14px!important;
}

.balance-section {
    height: 50px;
    margin-top: 40px;
    text-align: center;
    font-weight: 500;
    font-size: 19px;
    z-index: 111111111;
    position: relative;
    margin-bottom: 85px;
}

.seed-confirm {
	
}

.seed-generation-container {
	padding-bottom: 25px;
    border-bottom: 1px dashed #e0e0e0!important;
}

.seed-generation-account {
	padding-bottom: 50px;
    border-bottom: 1px dashed #e0e0e0!important;
}

.seed-container .download-seed {
    margin-bottom: 0px!important;
    background-color: #f1f5f7!important;
    margin-top: 25px;
    background: #c2cdd33d!important;
    color: #889196!important;
}
.seed-container .download-seed .fas{
    position: absolute;
    right: 10px;
    font-size: 20px;
    color: #959ca045;
}

.download-seed .wave {
    background-color: #d3dbdf47!important;
}

.seed-container .general-btn {
	position: relative;
    overflow: hidden;
    background-color: #29b7ff;
    border: 0px solid #06acff;
    color: #fff;
    border-radius: 3px;
    font-size: 14px;
    text-align: center;
    height: 20px;
    margin: 20px 0px;
    padding: 10px;
    width: calc(100% - 20px)
}

.seed-generation {
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #dfe7ec!important;
    border-radius: 6px;
    background-color: #dfe7ec6e;
}

.backup-suggestion {
	font-size: 13px;
    /* text-align: center; */
    margin-top: 20px;
    color: rgb(242, 45, 112);
}