.send-container {
	padding: 0px 25px;
}

.send-screen .balance-section {
    height: 70px!important;
    margin-top: 35px!important;
    margin-bottom: 60px!important;
}

.send-container .general-btn {
    margin-top: 10px;
    box-sizing: border-box;
}

.send-btn-container {
	overflow: auto;
}

.max-balance-btn {
    position: absolute;
    right: 0px;
    background-color: #eeeeee5c;
    padding: 2px 10px 1px;
    font-size: 12px;
    border-radius: 3px;
    margin-top: -3px;
    color: #c2cdd3;
}

.max-balance-btn:hover {
    background-color: #eeeeeead;
    cursor: pointer;
}

.max-balance-btn .fas {
    padding-left: 5px;
}

.send-screen .balance {
    margin-top: 36px!important;
    margin-bottom: 5px!important;
    width: 138px!important;
    margin: auto!important;
    position: relative!important;
    text-align: left;
    z-index: 111111111!important;
    padding-top: 5px!important;
}

.balance-eth {
    font-size: 16px;
    text-align: center!important;
    opacity: 0.7;
    text-align: center!important;
}

.send-screen .balance-no-logo {
    width: 100%!important;
    text-align: center!important;
}

.send-screen .balance img {
    width: 23px!important;
    z-index: 1111111;
    background-color: #ffffff2b;
    border-radius: 5px;
    float: right;
    margin-top: -2px;
}

.general-btn {
    padding: 10px;
    width: 100%;
    background-color: #29b7ff;
    border: 0px solid #06acff;
    border-radius: 3px;
    color: #fff;
    overflow: hidden;
    font-size: 14px;
    text-align: center;
    position: relative;
    height: 36px;
}

.general-btn img {
    width: 31px;
    position: absolute;
    right: 8px;
    top: 5px;
    z-index: 1111111;
    background-color: #ffffff2b;
    border-radius: 8px;
}

.general-btn:hover {
	background-color: #38bcff;
	cursor: pointer;
}


.general-btn span {
	z-index: 1111111;
    width: 100%;
    position: absolute;
    left: 0px;
}

.mdl-slider.is-upgraded {
	color: rgb(16, 173, 255)!important;
}



.general-btn .wave {
	opacity: 0.6!important;
    background: #0af;
    width: 579px!important;
    height: 529px!important;
    margin-top: -501px!important;
}
.transaction-warning {
    font-size: 11px;
    text-align: center;
    display: block;
    margin-top: 10px;
    color: #c2cdd3;
}



.mdl-slider {
    width: 100%!important;
    margin: 0px!important;
}

.mdl-slider__background-flex {
    position: absolute;
    height: 2px;
    width: 100%!important;
    top: 50%;
    left: 0;
    margin: 0px!important;
    overflow: hidden;
    border: 0;
    padding: 0;
    -webkit-transform: translate(0,-1px);
    transform: translate(0,-1px);
}

.mdl-slider__background-upper {
    background: #c2cdd3!important;
}

.mdl-slider__background-lower {
    background: rgb(6, 172, 255)!important;
}

.midnight-theme .mdl-textfield--floating-label.is-focused .mdl-textfield__label, .mdl-textfield--floating-label.is-dirty .mdl-textfield__label, .mdl-textfield--floating-label.has-placeholder .mdl-textfield__label {
    color: rgb(6, 172, 255)!important;
}

.send-amount-usd {
    position: absolute;
    text-align: right;
    padding-top: 5px;
    width: 100%;
    font-size: 12px;
    color: #c2cdd3;
}


.mdl-textfield__label {
    bottom: 0;
    color: rgba(0,0,0,.26);
    font-size: 16px;
    left: 0;
    right: 0;
    pointer-events: none;
    position: absolute;
    display: block;
    top: 24px;
    width: 100%!important;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
}

.mdl-textfield--floating-label.is-focused .mdl-textfield__label, .mdl-textfield--floating-label.is-dirty .mdl-textfield__label, .mdl-textfield--floating-label.has-placeholder .mdl-textfield__label {
    color: rgb(6, 172, 255)!important;
}

.mdl-slider__background-upper {
    background: rgb(213, 220, 223);
}

.mdl-textfield__label:after {
    background-color: rgb(6, 172, 255)!important;
}

.mdl-textfield {
	width: 100%!important;
}

.mdl-textfield__input {
    border-bottom: 2px solid #d9e4ea;
}

.mdl-textfield img {
	float: left;
}

.tx-speed-container {
    overflow: auto;
    margin: 20px 0px 20px;
    color: #c2cdd3;
}

.tx-speed-container > div {
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
    font-size: 13px;
}

.transaction-info > div {
	width: 33.333333%;
	float: left;
}

.transaction-info div:nth-child(1) {
	text-align: left;
}
.transaction-info div:nth-child(2) {
	text-align: center;
}
.transaction-info div:nth-child(3) {
	text-align: right;
}

.mdl-textfield__input {
    font-weight: 300!important;
    padding: 7px 0px!important;
    border-bottom: 2px solid #dfe7ec!important;
}

.mdl-textfield__label {
    color: #c2cdd3!important;
}

.mdl-slider:active::-webkit-slider-thumb {
        background: rgb(16, 173, 255)!important;
}

.mdl-slider::-webkit-slider-thumb {
        background: rgb(16, 173, 255)!important;
        border-color: rgb(16, 173, 255)!important;
}
.midnight-theme .mdl-textfield--floating-label.is-focused .mdl-textfield__label, .mdl-textfield--floating-label.is-dirty .mdl-textfield__label, .mdl-textfield--floating-label.has-placeholder .mdl-textfield__label {
    color: rgb(6, 172, 255)!important;
}

.eql-btn-logo{
    width: 38px!important;
    right: 8px!important;
    top: 0px!important;
    background: rgba(0,0,0,0)!important;
}



/*** Fees ***/
.fee-summary {
    text-align: right;
    margin-top: 5px;
    border-top: 1px dashed #e0e0e0;
    padding-top: 20px;
    color: #c2cdd3;
}

.midnight-theme .fa-fire {
    padding-right: 5px;
}

.max-fee {
    float: left;
}

.fee-summary span {
    font-weight: 500;
    color: #c2cdd3;
}

.fee-eth {
    color: #29b7ff!important;
    padding-right: 5px!important;
}

.fee-usd {
    color: rgba(0,0,0, .7)!important;
}

.pay_text{
    margin-top: 0px !important;
}







