.bg {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: linear-gradient( rgba(0,0,0,.2), rgba(0,0,0,.2) ), url(assets/bg2.png);
}


.background-wave .wave{
  width: 1400px;
  height: 1400px;
}

.background-wave {
    width: 100%;
    z-index: 0;
}


.background-wave .wave {
    width: 1000px;
    height: 1000px;
    background-color: #ffffff94;
    opacity: 0.85;
    position: absolute;
    top: 16%;
    left: 15%;
}
/*** Extension Icon ***/

.chrome-extension-icon {
    position: fixed;
    top: 20px;
    right: 25px;
    background-color: #8b32cf;
    height: 40px;
    width: 40px;
    border-radius: 505%;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 0 rgb(138, 50, 208);
    animation: pulse 2s infinite;
}

.chrome-extension-icon img {
    width: 92%!important;
    margin-top: 11px;
    margin: auto;
    left: 4%!important;
    top: 3px!important;
}



.chrome-extension-icon:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(138, 50, 208, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(138, 50, 208 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(138, 50, 208, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(138, 50, 208, 0.4);
    box-shadow: 0 0 0 0 rgba(138, 50, 208, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(138, 50, 208, 0);
      box-shadow: 0 0 0 10px rgba(138, 50, 208, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(138, 50, 208, 0);
      box-shadow: 0 0 0 0 rgba(138, 50, 208, 0);
  }
}

/** Extension **/

.slick-slider ul.slick-dots{
    bottom: 20px;
}
.slick-slider ul.slick-dots li>button::before{
    display: none;
}
.slick-slider ul.slick-dots li>button{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #c2cdd3;
}
.slick-slider ul.slick-dots li.slick-active>button{
    background-color: #0cacff;
}

.chrome-extension-container {
    width: 360px;
    position: relative;
    overflow: hidden;
    max-width: 360px;
    height: 600px;
    margin: auto;
}

/*** Title ***/

.title {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    font-weight: 600;
    z-index: 1;
    line-height: 150px;
    text-align: center;
    transform: translate3d(0, 0, 0);
    color: white;
    letter-spacing: .05em;
    font-size: 31px;
    text-shadow: 0 1px 0 rgba(black, .1);
    text-indent: .3em;
}


/*** Imagery ***/

.imagery-container {
    position: absolute;
    width: 100%;
}

.tutorial .imagery-container {
  margin-top: 140px;
}

.imagery-container img {
    z-index: 111111;
    width: 160px;
    position: relative;
    display: block;
    margin: auto;
}


img.floating-logos {
	position: absolute;
	width: 30px;
	opacity: 0.3
}

img.float-0 {
	animation: float 5s ease-in-out infinite;
}

img.float-1 {
    left: 60px;
    top: -20px;
    animation: float 10s ease-in-out infinite;
}

img.float-2 {
    left: 218px;
    top: 3px;
    animation: float 4s ease-in-out infinite;
}

img.float-3 {
	left: 53px;
    top: 140px;
    width: 18px;
    animation: float 3s ease-in-out infinite;
}

img.float-4 {
    left: 150px;
    top: 185px;
    opacity: 0.4;
    animation: float 10s ease-in-out infinite;
}

img.float-5 {
    left: 243px;
    top: 130px;
    opacity: 0.4;
    animation: float 10s ease-in-out infinite;
}


@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(0px);
	}
}


@keyframes motion {
	0% {
		transform: translatey(0px);
		opacity: 0;
	}
	50% {
		opacity: 0.8;
	}
	100% {
		transform: translatey(60px);
		opacity: 0;
	}
}

.floating-logos {
	transform: translatey(0px);
}


.motion {
    width: 10px;
    height: 50px;
    background-color: #ffffff2e;
    border-radius: 10px;
    margin: auto;
    position: absolute;
}

.m-1 {
	left: 187px;
    top: 80px;
    animation: motion 5s infinite;
}

.m-2 {
	left: 147px;
    top: 100px;
    animation: motion 4s infinite;

}

.m-3 {
	left: 110px;
    top: 80px;
    animation: motion 6s infinite;

}

/*** Description ***/

.description {
	color: #c2cdd3;
    font-weight: 400;
    position: absolute;
    padding: 30px;
    left: 0;
    bottom: 50px;
    text-align: center;
    z-index: 1;
    line-height: 25px;
    text-align: center;
    transform: translate3d(0, 0, 0);
    letter-spacing: .05em;
    font-size: 15px;
    text-rendering: optimizeLegibility;

}


/*** Pagination ***/

.steps-container {
	margin: auto;
	width: 80px;
}

.step-container {
	width: 33.3%;
	float: left;
}

.step {
	width: 10px;
	height: 10px;
	background-color: #c2cdd3;
	border-radius: 50%;
	margin: auto;
}

.active-step {
    background-color: #06acff!important;
}

.purple-step {
	background-color: #80f;
}

.green-step {
	background-color: #27d333;
}

.skip-tutorial, .continue-tutorial {
    cursor: pointer;
	position: absolute;
	left: 25px;
	bottom: 25px;
	color: #ddd;
}

.continue-tutorial {
    right: 25px;
    left: auto;
}

.skip-tutorial:hover,
.continue-tutorial:hover {
	color: #19a9ce;
}

/*** Scrollbar ***/
.simplebar-scrollbar {
    opacity: 0.05!important;
}

.simplebar-scroll-content {
  padding-right: 0px!important;

}