/*** Transaction ***/

.direction {
    width: 36px;
    height: 36px;
    border-radius: 9px;
    float: left;
    position: relative;
}

.direction i {
    padding: 11px 12px;
    font-size: 15px;
}

.direction-in {
	background-color: #2fd84226;
}

.direction-in i {
    color: #3fb05e;
}

.direction-out {
    background-color: #f1278e26;
}

.direction-out i {
    color: #f1278e;
}

.transaction-list .token-name {
    white-space: nowrap;
    overflow: hidden;
    width: 125px;
    margin: auto;
    font-size: 13px;
    margin-bottom: -2px;	
}

.transaction-list .token-info {
    margin-top: -3px;
}

.transaction-list .token-amount {
    font-size: 11px;
}

.tx-amount {
    float: right;
    color: #fff;
    font-size: 14px;
    margin-top: 5px;
}

.tx-in {
    color: #3fb05e;
}

.tx-out {
	color:#f1278e;
}

.tx-fail {
    display: none;
}

.symbol {
    color: #00000047;
}


.dark-dots {
    opacity: 0.4!important;
}


 /*** Triangle ***/
.triangle, .triangle:before, .triangle:after { width: 4em; height: 4em; }
.triangle {
    overflow: hidden;
    position: relative;
    border-radius: 20%;
    transform: translateY(50%) rotate(30deg) skewY(30deg) scaleX(.866);
    cursor: pointer;
    pointer-events: none;
    margin-left: -2px;
    margin-top: -7px;
}
.triangle:before, .triangle:after {
    position: absolute;
    background:#ffe8b3;
    pointer-events: auto;
    content: '';
}
.triangle:before {
    border-radius: 20% 20% 20% 53%;
    transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%) 
            skewX(30deg) scaleY(.866) translateX(-24%);
}
.triangle:after {
    border-radius: 20% 20% 53% 20%;
    transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%) 
            skewX(-30deg) scaleY(.866) translateX(24%);
}

.triangle:hover { overflow: visible; }
.triangle:hover:before, .triangle:hover:after { background: none; }
.triangle:hover, .triangle:hover:before, .triangle:hover:after {
    border: dashed 1px;
}

.triangle, .triangle:before, .triangle:after {
    width: 43px;
    height: 43px;
}
.fa-fire {
    padding-right: 5px;
}
.warning {
    background-color: #ffa5001a;
}

.direction .fa-exclamation {
    position: absolute;
    z-index: 1111;
    padding: 10px;
    color: #ffb800;
    margin-left: 6px;
    margin-top: 6px;
}

.pending-tx {
    padding: 13px 0px;
}

.pending-tx img {
    width: 80%!important;
    display: inline-block!important;
    margin-left: 10%;
    opacity: 0.8;
}

.triangle:before, .triangle:after {
    position: absolute;
    background: #ffe8b3!important;
    pointer-events: auto;
    content: '';
}
.token-list .simplebar-scroll-content{
    margin-bottom: 0px !important;
}