

/*** Wave design ***/

.box {
  width: 300px;
  height: 300px;
  border-radius: 5px;
  box-shadow: 0 2px 30px rgba(black, .2);
  background: lighten(#f0f4c3, 10%);
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.wave {
  opacity: 0.85;
  position: absolute;
  top: 20%;
  left: 50%;
  background: #0af;
  width: 500px;
  height: 500px;
  margin-left: -250px;
  margin-top: -120px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 30000ms infinite linear;
}

.tutorial .wave {
    opacity: 0.85;
    position: absolute;
    top: 48%;
    left: 50%;
    background: #0af;
    width: 600px;
    height: 608px;
    margin-left: -300px;
    margin-top: -120px;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 30000ms infinite linear;
}


.purple-wave {
  background: #80f;
}

.green-wave {
  background-color: #27d333;
  margin-top: -446px!important;
}


.wave.-one {
    margin-top: -496px!important;
}

.wave.-two {
  animation: drift 14000ms infinite linear!important;
  opacity: .1;
  margin-top: -484px!important;
}

.wave.-three {
  animation: drift 10000ms infinite linear!important;
    margin-top: -488px!important;
}






.box:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(#e8a, 1), rgba(#def, 0) 80%, rgba(white, .5));
  z-index: 11;
  transform: translate3d(0, 0, 0);
}


@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}